<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.dxs.mobilesafe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- 网络相关权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 普通（WiFi，网络，基站）定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许应用创建用于测试的模拟定位提供者 -->
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <!-- 读取SD卡数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写数据到SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 接收开机完成广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 读取联系人数据 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 发送短信权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 读取短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 写短信权限 -->
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <!-- 收到短信权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 手机震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 程序拨打电话权限 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 系统报警窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 创建快捷图标权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 写电话记录权限 -->
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <!-- 读电话记录权限 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <!-- 杀后台进程权限 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- 获得正在运行的程序权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 获得包大小权限 -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <!-- 清除程序缓存权限 -->
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <application
        android:name="net.dxs.mobilesafe.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.dxs.mobilesafe.activities.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity android:name="net.dxs.mobilesafe.activities.HomeActivity" />
        <!-- 手机防盗 -->
        <activity android:name="net.dxs.mobilesafe.activities.LostFindActivity" />
        <!-- 设置向导 -->
        <activity android:name="net.dxs.mobilesafe.activities.setup.Setup1Activity" />
        <activity android:name="net.dxs.mobilesafe.activities.setup.Setup2Activity" />
        <activity android:name="net.dxs.mobilesafe.activities.setup.Setup3Activity" />
        <activity android:name="net.dxs.mobilesafe.activities.setup.Setup4Activity" />
        <activity android:name="net.dxs.mobilesafe.activities.SelectContactActivity" />
        <!-- 通讯卫士 -->
        <activity android:name="net.dxs.mobilesafe.activities.CallSmsSafeActivity" />
        <!-- 设置中心 -->
        <activity android:name="net.dxs.mobilesafe.activities.SettinCenterActivity" />
        <!-- 软件管理 -->
        <activity android:name="net.dxs.mobilesafe.activities.AppManagerActivity" />
        <!-- 软件管理-密码输入 -->
        <activity android:name="net.dxs.mobilesafe.activities.EnterPwdActivity" />
        <!-- 进程管理 -->
        <activity android:name="net.dxs.mobilesafe.activities.TaskManagerActivity" />

        <!-- 电话短信黑名单的服务 -->
        <service android:name="net.dxs.mobilesafe.service.CallSmsSafeService" />
        <!-- 软件看门狗的服务 -->
        <service android:name="net.dxs.mobilesafe.service.WatchDogService" />

        <!-- 一键锁屏，远程擦除数据 -->
        <receiver
            android:name="net.dxs.mobilesafe.receiver.MyDeviceAdminReceiver"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <!-- 注册手机启动完毕的广播接收者,记得添加权限 -->
        <receiver
            android:name="net.dxs.mobilesafe.receiver.BootCompleteReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <!-- 短信的广播接收者 -->
        <!-- <receiver android:name="net.dxs.mobilesafe.receiver.SmsReceiver" > -->
        <!-- <intent-filter android:priority="2147483647" > -->
        <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
    </application>

</manifest>